.about-me {
  color: #fff;
  display: flex;
  justify-content: center;
  position:relative;
  justify-content:baseline;
  margin-top:1.5rem;

  
}



#about-me-info {
  text-align:left;
  margin:.5rem 0rem;
  padding: 9rem;
  bottom: 10%;
  width: 40%;
  
}

#about-me-info p {

  line-height: 1.7em;
  letter-spacing: .1rem;
  margin-bottom: 2rem;
}


.areas {
  display: inline-block;
  border: 1px #fff solid;

  padding: 5px;
  margin: 1rem;
}
@media(max-width:600px) {
  .btn {
    padding: 15px 10px;
    font-size: .9rem;
  }


}


@media(max-width:360px) {

  .btn {
    padding: 10px 14px;
    font-size: .8rem;
    letter-spacing: 1px;
  }


}


@media(max-width:1200px) {
    .areas {
    
        margin:0;
        width: 100%;
        text-align: center;
      }

      


      #about-me-info p {
        letter-spacing: none;
      }
      
}


#green-back  {
  background: rgb(22, 23, 32);
  color: #fff;
  margin-top: 4rem;  
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 20px;
  text-align: center;

}

#about-me-info h2 {
  font-size: 3rem;
  text-align:center;

}